<html>
<head>
	<title>DjangoWhip demo</title>
	
	<script type="text/javascript" src="/site_media/jquery-1.2.6.min.js"></script>
	
	{% block head %}
	{% endblock %}
	
</head>
<body>
	
	{% block content %}
	{% endblock %}
	
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7815194-1");
pageTracker._trackPageview();
} catch(err) {}</script>
	
</body>
</html>