{% extends "base.html" %}

{% block content %}

<h1>Who Voted Which Way?</h1>

<p>Use this service to look at how the UK MPs voted, plotted on Google Maps. This is a mashup of data from <a href="http://www.publicwhip.org.uk/">Public Whip</a> and <a href="http://www.theyworkforyou.com/">They Work For You</a>.</p>

<ul>
	<li><a href="/division/">List of votes, sorted by date</a></li>
	<li><a href="/mp/">List of members of parliment</a></li>
</ul>

<p>Lots more to do, but why wait for me to do it when you can <a href="http://github.com/mdales/djangowhip">fix the code yourself?</a>. For more details  <a href="mailto:michael@seriouschange.org.uk">contact me by email</a>.</p>

<p><a href="http://rewiredstate.org/"><img src="http://s3.amazonaws.com/twitter_production/profile_images/66680232/rs.png" border="0" width="48"> A product of the Rewired State event</a></p>

{% endblock %}